html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #F3EFE3;
    box-sizing: border-box;
    height: 100%;

}

/*header*/
.header-img {
    width: 100%;
    position: absolute;
}

.header-box {
    opacity: 30%;
    background-color: #000000 ; 
    position: absolute;
}

.header-text-pos {
    position: relative;
}

.header-overlapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #F3EFE3;
    height: 24%;
    width: 100%;
    font-family: 'Harlow Solid Italic', sans-serif;
}

.logo-header-img {
    opacity: 100%;
    height: 95%;
    position: relative;
}

.header-middle-part {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-bar-titel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-btn {
    text-decoration: none;
    outline: none;
    color: #F3EFE3;
}

.header-login {
    width: 10%;
    height:  45%;
    background-color: #000000;
    opacity: 40%;
    border-radius: 80px;
}

/*Main page contents*/

.over-ons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1100px;
    width: 100%;
}



/*placeholder*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}