html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #F3EFE3;
    box-sizing: border-box;
    height: 100%;
}

header {
    width: auto;
}

.header-img {
    width: 100%;
    position: absolute;
}

.header-overlapper {
    height: 24%;
    opacity: 30%;
    background-color: #000000 ;
    width: 100%;
    position: absolute;
}